[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/var/home/nicolas/.local/bin/app.tsx
Restart=on-failure
